@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  overflow-x: hidden;
  overflow-y:hidden;
  height: 100%;
  width: 100%;
  background-color: #ff0000;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {

  @font-face {
    font-family: bebas;
    src: url(../public/fonts/bebas.ttf);
  }

  @font-face {
    font-family: open-sauce;
    src: url(../public/fonts/opensauce.ttf);
  }
}

.open-font {
  font-family: open-sauce;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.6vh;
}

.nav_left {
  margin-left: 5vh;
  max-width: 40rem;
  width: 100%;
}

.nav_right {
  margin-right: 5vh;
  max-width: 40rem;
  width: 100%;
}

.paragraph {
  font-family: open-sauce;
  font-size: 2vh;
  justify-items: start;
}

.btn-primary {
  border-radius: 40px;
  border-color: white;
  border-width: .5px;
  font-size: 2vh;
  color: #777777;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 20vh;
}

.btn-primary:hover {
  background-color: #7777772d;
  color: #ffffff;
  transition: background-color 0.3s;
  transition: color 0.3s;

}



.mask {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #111111;
  /* Replace with your page's background color */
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.txt-hover:hover {
  color: #999999;
  transition: color 0.3s;
  cursor:url(favicon.ico),auto;

}

.mobile-heading {
  font-size: 12vh;
  font-family: bebas;
  color: #777777;
  font-weight: 700;
  line-height: normal;
  transform: scaleY(1.3)
}


.heading {
  font-size: 38vh;
  font-family: bebas;
  color: #777777;
  font-weight: 700;
  line-height: 40vh;
  transform: scaleY(1.3)
}

.transformm {
  transform: scaleY(1.3);

}

.sm-hidden {
  display: none;
}

@media (min-width: 640px) {
  .sm-hidden {
    display: contents;
  }
}