@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px rgb(248, 248, 248);
  }
  .font-outline-1 {
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
  @font-face {
    font-family: Helveticalight;
    src: url(../public/fonts/helvetica_light.ttf) ;
  }
  @font-face {
    font-family: Helvetica;
    src: url(../public/fonts/helvetica_outline.ttf);
  }
  @font-face {
    font-family: ppm-blackbold;
    src: url(../public/fonts/ppm-black.otf) ;
  }
  @font-face {
    font-family: ppm-blackitalic;
    src: url(../public/fonts/ppm-blackitalic.otf) ;
  }
  @font-face {
    font-family: ppm-ultrabold;
    src: url(../public/fonts/ppm-ultrabold.otf) ;
  }
}


.trans{
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
}
